.wrapper {
    background-color: aqua;
    font-size: large;

    .voucher-available {
        .elememt-voucher {
            .left-coupon {
                color: aqua;
            }
        }
    }
}