<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Popup in HTML CSS Javascript | Codehal</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>
    <button class="show-popup">Show</button>
    <div class="popup-container">
        <div class="popup-box">
            <i class="fa-regular fa-circle-check"></i>
            <h1>SUCCESS</h1>
            <p>Congratulations!</p>
            <button class="close-btn">OK</button>
        </div>
    </div>
    <button class=" show-popup show-popup-1">Show</button>
    <div class="popup-container-1">
        <div class="popup-box">
            <i class="fa-regular fa-face-sad-tear"></i>
            <h1>ERROR</h1>
            <p>Something went wrong!</p>
            <button class="close-btn">OK</button>
        </div>
    </div>
    <script src="pu.js"></script>
</body>
</html>