.Comment{
    display: flex; 
    justify-content: center;
    align-items: center;
    .account{
        width: 450px;
        height: 140px;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 5px;
        font-size: 11px;
        font-family: Calibri;
        font-weight: 100;
        border-bottom: 1px solid #e4d7d2;
        .account_img{
            width: 13%;
            height: 100%;
            display: flex; 
            justify-content: left;
            img{
                width: 75%;
                height: 29%;
                border-radius: 50%;
            }
        }
        .account_comment{
            display: flex; 
            flex-direction: column;
            width: 83%;
            height: 100%;
            font-size: 11px;
            gap: 8px;
            .star{
                font-size: 9px;
                color: #ff4d00;
            }
            #a1{
                font-weight: 500;
                color: #707070;
                font-size: 10px;
            }
            #a2{
                font-weight: 500;
                color: #000000;
                font-size: 11px;
            }
        }
    }
}
